@charset "utf-8";
/* CSS Document */
#bullet-points{
	text-align: left;
    width: 27%;
	}
#css {\
 height: 900px;
 width: 1600px;
}
#banner {
 height: 150px;
 width: 1200px;
}
#buttons {
 height: 100px;
 width: 1050px; 
 text-align: justify;
 min-width: 5px;
}
.images {
	height: 300px;
	width: 1050px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	color: #FFFFFF;}
{page-break-inside:auto}

ul > li { list-style-position:inside;}

.sad {
}
